<%= stylesheet_link_tag 'restaurant/dishes/index' %>

<header id="header">
    <h1>Welcome, <%= @user.name %></h1>
    <h1>Dashboard</h1>
    <%= link_to "Add New Dish", new_restaurant_dish_path, id: "addBtn" %>
</header>

<section id="dish-cards">
    <%= render "restaurant/dishes/card" %>
</section>