<%= stylesheet_link_tag 'home/index' %>

<div id="container">
    <nav id="navbar">
        <div>
            <%= link_to  "food.Delivery.app", '/', id: "logo"%>
        </div>

        <div>
            <% if session[:id] %>
                <%# link_to "Logout" auth_path, id: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                <%= link_to  "Logout", auth_index_path, id: "button", data: { turbo_confirm: "Are you sure?" } %>
            <% else %>
                <%= link_to "login", new_auth_path, id: "button" %>
            <% end %>
        </div>
    </nav>
</div>