<%= stylesheet_link_tag "authentication/new" %>

<div id="container">
    <div id="box">
        <p id="title">Login</p>
        <form action="/authentication" method="post">
        <% if flash[:notice] %>
            <div class="alert alert-info"><%= flash[:notice] %></div>
        <% end %>
            <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" minlength="8" required>
            </div>
            <button type="submit" class="button">Login</button> 
            <%= link_to  "Signup", "/signup", class: "button"%>
        </form>
        <center style="margin-top: 1rem;"><%= render  "partials/back_button" %></center>
    </div>
</div>