<%= stylesheet_link_tag 'user/index' %>
<% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>
<div id="container">
    <% if cookies[:id] %>
        <div id="box">
            Hello, <%= session[:role]%>
        </div>
    <% else %>
        <div id="message-box">
            <%= link_to "Kindly login to proceed.", new_auth_path, id: "message" %>
        </div>
    <% end %>
</div>