<div style="text-align: center; margin-top: 50px;">
  <h1 style="font-size: 36px; color: #ff4d4d;">Payment Canceled</h1>
  <p style="font-size: 18px;">We're sorry to see you go. Your payment process was canceled.</p>
  <p style="font-size: 18px;">If you need help, feel free to contact us!</p>
  <p>
    <%= link_to "Return to Home", root_path, style: "padding: 10px 20px; font-size: 18px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; margin-top: 2rem; display: inline-block; text-align: center;" %>
  </p>
</div>
