#header {
    background-color: #9eaf4c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
  }
  
  #header > h1:nth-child(1) {
    font-weight: 900;
    color: blueviolet;
  }
  